.action-buttons {
  display: flex;
  gap: 0.1rem;
  justify-content: space-between;
}

.book-description {
  font-size: var(--default-font-size);
  line-height: 1.5rem;
  white-space: pre-line;
}

.book-title {
  font-weight: bold;
  margin: 0;
}

.product-container {
  background-color: var(--default-block-bg-color);
  border: 1px solid var(--default-block-border-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: var(--default-block-border-radius);

  display: flex;
  padding: 1rem;

  width: 75%;
  flex-direction: column;
}

.product-image {
  position: relative;
  display: flex;
  justify-content: center;
}

.image-overlay {
  position: absolute;
  left: 0;
  bottom: 0.1rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  border-radius: 0.5rem;

  background-color: var(--accent-fade); /* Semi-transparent background */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.product-image:hover .image-overlay {
  opacity: 1; /* Show overlay on hover */
}

.overlay-button {
  background-color: #fff;
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.product-image img {
  cursor: pointer;
  object-fit: cover;
  width: 50%;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1rem;
}

.product-page {
  display: flex;
  justify-content: center;
  width: 100%;
}

.heart-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8rem; /* Adjust the size of the heart */
  opacity: 1;
  animation: fadeOut 1s forwards; /* Fades out over 1 second */
  pointer-events: none; /* Prevent interaction with the heart */
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    opacity: 0.8;
    transform: translate(-50%, -50%) scale(1.5); /* Scale heart slightly */
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2); /* Fully fades and scales */
  }
}

@media (max-width: 576px) {
  .product-container {
    width: 95%;
    flex-direction: column;
  }

  .product-image {
    margin-bottom: 1rem;
  }

  .product-image img {
    height: auto;
    max-width: 100%;
    width: 100%;
  }

  .product-info {
    margin-left: 0;
  }
}
